.Button {
  font-size: 18px;
  color: #979292;
  position: relative;
  border: none;
  background: none;
  padding: 10px;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

.Button:focus,
.Button:hover,
.Button.active {
  color: #c499f3;
}

.Button:focus:after,
.Button:hover:after,
.Button.active:after {
  width: 100%;
  left: 0%;
}

.Button:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 3px;
  background-color: #c499f3;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}


/* mobile divice nav */

.button-container {
  background-color: rgb(27, 133, 219);
  height: 40px;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px,
    rgba(27, 133, 219, 0.5) 5px 10px 15px;
}

.mobile_nav_button {
  outline: 0 !important;
  border: 0 !important;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}

.mobile_nav_button:hover {
  transform: translateY(-3px);
}

.icon {
  font-size: 20px;
}
