.Button {
  font-size: 18px;
  color: #979292;
  position: relative;
  border: none;
  background: none;
  padding: 10px;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

.Button:focus,
.Button:hover,
.Button.active {
  color: #c499f3;
}

.Button:focus:after,
.Button:hover:after,
.Button.active:after {
  width: 100%;
  left: 0%;
}

.Button:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 3px;
  background-color: #c499f3;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}
